@import './variables';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #151719;
}

label {
  font-size: 14px;
  color: rgb(7, 7, 7);
}

a {
  text-decoration: none;
}

input[type=text], [type=email], [type=password], [type=date], select {
  width: 100%;
  height: 35px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin: 1px 0 10px 0;
  font-size: 14px;
}

::placeholder {
  color: gray !important;
  opacity: .5;
}

input:not([type=button]):focus {
  border: 1px solid $color-quartenary;
  //box-shadow: 1px 1px 5px 1px $color-primary;
}

input[type=button] {
  height: 40px;
  width: 120px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: #ffff;
  opacity: 0.9;
  background-color: $button-default;
  text-transform: uppercase;
  transition: 0.2s box-shadow;
}

input[type=button]:hover {
  opacity: 1;
  text-shadow: 0 0 4px #fff;
  box-shadow: 0 .5px $color-primary;
}

a {
  text-decoration: none;
}