/* Cores fontes */
$color-primary: #247881;
$color-secondary: #43919B;
$color-tertiary: #30AADD;
$color-quartenary: #dbd7d7;

/* Cores botões */
$button-default: #6C757D;
$button-primary: #0D6EFD;
$button-warning: #FFC107;
$button-info: #0DCAF0;
$button-danger: #DC3545;

/* Cores alertas */
$alert-default: #c4c3c3;
$alert-success: #5CC3A3;
$alert-alert: #ECC058;
$alert-info: #6EB1C6;
$alert-danger: #D74B48;