@import '../../styles/global';

.container {
  width: 900px;
  background-color: #cacaca;
  border-radius: 10px;
  padding: 15px;

  .flex {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    div {
      margin-right: 15px;
    }

    div:last-child {
      margin-right: 0px;
    }
  }

  table {
    width: 100%;    
    height: 50vh;
    border-spacing: 0;
    

    th {
      height: 50px;
      border-bottom: 1px solid white;
    }

    tbody tr td {
      border-bottom: 1px solid white;
      padding: 0 15px 0 15px;

    }
    
    tr:last-child {
      border-bottom: none;
   
      td:first-child, td:last-child {
        border-bottom: none;
      }
    }

    tbody tr:hover {
      background-color: #b1d5da;
    }
  }

  .table3 {
    height: 60vh;
  }
  
  .table4 {
    height: 70vh;
  }
  
  .colAvaliacao {
    width: 25%;
    align-items: center;
    align-content: center;
    
    select, text, input {
      width: 100%;
      margin: 0px !important;
    }
  }

  .flexSpaceBetween {
    display: flex;
    justify-content: space-between
  }

  .flexLine1 {
    div {
      width: 30%;
      margin-right: 15px;
    }
    
    div:last-child {
      width: 70%;
      margin-right: 0px;
    }
  }


  .flexLine5 {
    div {
      width: 50%;
      margin-right: 15px;
      margin-top: 0;
    }
    
    div:last-child {
      margin-right: 0px;
    }
  }
  
  .containerEtapa5 {
    height: 30vh;
    margin: 20px 0 20px 0;
    display: flex;
    flex-direction: column;

    span {
      margin-left: 5px;
    }

    textarea {
      max-width: 100%;
      min-width: 100%;
      margin: 5px 0 0 0;
      padding: 10px;
      border-radius: 5px;
      max-height: 150px;
      min-height: 150px;
      font-size: 16px;
    }
    
  }

  .sessaoConfirmacao {
    margin: 20px 0 0 0;
    padding: 10px 10px 10px 10px;
    font-weight: bold;
    background-color: #b6b6b6;
    padding: 5px;
    min-height: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-radius: 5px;
  }

  .linhaConfirmacao {
    height: 30px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    border-bottom: 1px solid rgb(187, 187, 187);

    .label{
      font-weight: 600;
      color: rgb(63, 63, 63);
    }
  }

  .linhaConfirmacao:hover{
    background-color: #e2edee;
  }

  .spanTextarea {
    padding: 10px 15px;
    text-align: justify;
  }

  .spanTextarea:hover{
    background-color: #e2edee;
  }
}